@import "tailwindcss";

@font-face {
  font-family: "maplestory-bold";
  font-weight: bold;
  src: url("./assets/fonts/Maplestory-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "maplestory-light";
  font-weight: normal;
  src: url("./assets/fonts/Maplestory-Light.ttf") format("truetype");
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'maplestory-light';
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
